.body {
    margin: 0px;
    padding: 0px;
    font-family: 'Lato', sans-serif;
}

/* banner section */
.banner-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(229, 84, 115, 0.10);
    height: 100vh;
}

.banner-description {
    padding-left: 100px;
}

.banner-title {
    color: #272727;
    font-family: Lato;
    font-size: 60px;
    font-weight: 900;
    margin-bottom: 0px;
}

.banner-para {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    margin-top: 32px;
    margin-bottom: 0px;
}

.banner-button {
    margin-top: 32px;
    padding: 20px 43px;
    border-radius: 8px;
    background-color: #E55473;
    border: none;
    color: white;
    font-size: 20px;
    font-weight: 700;
}

.banner-image {
    padding-top: 80px;
}

.banner-flower {
    width: 80%;
}